schemas/WMX.xsd

<!-- THIS SCHEMA AUTOGENERATED FROM WMX.xml USING SALAMI SLICE OPTION AT https://www.freeformatter.com/xsd-generator.html -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="x-schema:#VssWriterMetadataInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EXCLUDE_FILES_FROM_SNAPSHOT">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="path" use="optional"/>
          <xs:attribute type="xs:string" name="filespec" use="optional"/>
          <xs:attribute type="xs:string" name="recursive" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FILE_LIST">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="recursive" use="optional"/>
          <xs:attribute type="xs:string" name="path" use="optional"/>
          <xs:attribute type="xs:string" name="filespec" use="optional"/>
          <xs:attribute type="xs:short" name="filespecBackupType" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
 <xs:element name="EXCLUDE_FILES">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="recursive" use="optional"/>
          <xs:attribute type="xs:string" name="path" use="optional"/>
          <xs:attribute type="xs:string" name="filespec" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FILE_GROUP">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="x:FILE_LIST" maxOccurs="unbounded" minOccurs="0" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="logicalPath" use="optional"/>
      <xs:attribute type="xs:string" name="caption" use="optional"/>
      <xs:attribute type="xs:string" name="componentName" use="optional"/>
      <xs:attribute type="xs:string" name="restoreMetadata" use="optional"/>
      <xs:attribute type="xs:string" name="notifyOnBackupComplete" use="optional"/>
      <xs:attribute type="xs:string" name="selectable" use="optional"/>
      <xs:attribute type="xs:string" name="selectableForRestore" use="optional"/>
      <xs:attribute type="xs:byte" name="componentFlags" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IDENTIFICATION">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="writerId"/>
          <xs:attribute type="xs:string" name="instanceId"/>
          <xs:attribute type="xs:string" name="instanceName"/>
          <xs:attribute type="xs:string" name="friendlyName"/>
          <xs:attribute type="xs:string" name="usage"/>
          <xs:attribute type="xs:string" name="dataSource"/>
          <xs:attribute type="xs:byte" name="majorVersion"/>
          <xs:attribute type="xs:byte" name="minorVersion"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTORE_METHOD">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="method"/>
          <xs:attribute type="xs:string" name="writerRestore"/>
          <xs:attribute type="xs:string" name="rebootRequired"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="BACKUP_LOCATIONS">
    <xs:complexType>
       <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="x:EXCLUDE_FILES_FROM_SNAPSHOT" maxOccurs="unbounded" minOccurs="0" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
        <xs:element ref="x:FILE_GROUP" maxOccurs="unbounded" minOccurs="0" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
        <xs:element ref="x:EXCLUDE_FILES" maxOccurs="unbounded" minOccurs="0" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="WRITER_METADATA">
    <xs:complexType>
       <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="x:IDENTIFICATION" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
        <xs:element ref="x:RESTORE_METHOD" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
        <xs:element ref="x:BACKUP_LOCATIONS" xmlns:x="x-schema:#VssWriterMetadataInfo"/>
      </xs:choice>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:short" name="backupSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
